xp br { display:none; }
.pre { margin-left:20pt; }

.eg {
        padding-left:10pt; padding-right:30pt;
        white-space:pre; font-family:monospace; background:whitesmoke;
    }

table.demo {
        table-layout:fixed; width:100%;
        border-spacing:5pt 0pt;
    }
table.demo td.A1 {
        width:50%; overflow:hidden; vertical-align:top;
        padding-left:10pt; padding-right:30pt;
        white-space:pre; font-family:monospace; background:whitesmoke;
    }

table.tsv {border-spacing:0pt 0pt;}
table.tsv th {border-bottom:thin solid gray;}
table.tsv td {padding:0pt 10pt;}

table.bartab {border-spacing:0pt 0pt;}
table.bartab th {border-bottom:thin solid gray;}
table.bartab td {padding:0pt 10pt;}

